# Core dependencies
fastapi
uvicorn
httpx

# Telegram bot
pyrotgfork
TgCrypto

# Database
pymongo[srv]
motor==2.5.1

# Web scraping & HTTP
aiohttp
requests
cloudscraper
beautifulsoup4
lxml

# Environment
python-dotenv
